*{
    box-sizing: border-box;
    background-color: rgb(26, 52, 52);
}
.container {
    height: 100%;
    max-width: 30%;
    margin-left: 35%;  
}
#display {
    text-align: right;
    height: 70px;
    line-height: 70px;
    padding: 16px 8px;
    font-size: 25px;
    border:1px solid #999;
    box-shadow: 0px 1px 0px 0px rgba(153,153,153,1);
    border-radius: 10px;
    background-color: darkslategray;
}
.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.button {
    border: 0.5px solid #999;
    line-height: 100px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
    box-shadow: 0px 1px 0px 0px rgba(153,153,153,1);
    border-radius: 10px;
    background-color: darkslategray;   
}
#equal {
    background-color: rgb(3, 68, 54);
}
.button:hover {
    background-color: rgb(5, 105, 105);
    color: white;
    transition: 0.5s ease-in-out;
}